<!DOCTYPE html>
<html>
<head>

<title>PA e-Mentors</title>
<link rel="stylesheet" type="text/css" href="./style/style.css" />
<script src="./js/jquery.js" type="text/javascript"></script>
<script src="./js/jquery.qtip.js" type="text/javascript"></script>
<script src="./js/waypoints.js" type="text/javascript"></script>
<script src="./js/application.js" type="text/javascript"></script>
</head>

<body>
	
  <div id="page" class="wrap">
    
    <!-- begin left hand navigation -->
    <div id="nav" class="wrap">
      <div class="inner">
      
        <div id="logo">
        </div>
      
        <h2 class="user"><a class="" href="./profile.html"><img src="" alt=""/>Mentor Smith</a></h2>
        
        <div id="sticky_navigation">
        
          <!-- begin nav list -->
          <ul id="main_navigation">
            <li class=""><a href="./index.html"><span>Home</span><span class="notifier">2</span></a></li>
            <li class=""><a href="./mentees.html"><span>Mentees</span></a></li>
            <li class="active"><a href="./activities.html"><span>Activities</span><span class="notifier">4</span></a></li>
            <li class=""><a href="./profile.html"><span>Profile</span></a></li>
            <li class=""><a href="./resources.html"><span>Resources</span></a></li>
          </ul>
          <!-- end nav list -->
      
          <!-- begin people -->
          <div id="people">
            <h4>Live Mentees</h4>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <div class="clear"></div>
            <a class="text_link" href=""><span>10</span> Virtual Mentees</a><br/>
            <a class="text_link" href="">View All Mentees</a>
          </div>
          <!-- end people -->
      
          <!-- begin stats -->
          <div id="stats">
            <h4>Your Stats</h4>
            <p>Last sign in: <span class="signin-date">6.07.11</span></p>
            <p><span class="active_state">Inactive</span> in the pool</p>
          </div>
          <!-- end stats -->
          
        </div>
        
      </div>
    </div>
    <!-- end left hand navigation -->
    
    <!-- begin content -->
    <div id="content" class="wrap">
    
      <!-- begin head -->
      <div id="head">
        
        <h1 class="title">Activities</h1>
        
        <!-- fix class name -->
        <div class="head_links">
          <a class="button" href="">Logout</a>
          <a class="help button" href="">Help</a>
        </div>
      
      </div>
      <!-- end head -->
      
      <!-- begin inner content -->
      <div class="inner">
        
        <div class="career_plan_links">
          <a class="secondary_button" href="">View Career Plan</a>
          <a class="secondary_button" href="">Print Activities Summary</a>
        </div>
        
        <div class="activity_box">
          
          <div class="activity_num">
            <span>1</span>
          </div>
          <div class="activity_info">
            <h2>Completed Activity with New Comments</h2>
            <div class="activity_dates">
              <div class="activity_started">
                <span>Started on: </span><span>09.01.10</span>
              </div>
              <div class="activity_complete">
              <span>Completed on: </span><span>09.01.10</span>
              </div>
            </div>
            <div class="activity_comments new">
              <div><span>2</span> Comments<span>, 1 New</span></div>
            </div>
          </div>
          <div class="activity_result">
            
            <div class="activity">
                        
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Activity Result</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis metus dui. Nulla facilisi. Etiam luctus, tortor at molestie dignissim, dui eros euismod diam, quis elementum urna magna et enim. Fusce tincidunt feugiat mauris quis gravida. Maecenas varius molestie urna, ut condimentum nisi tristique eget. Etiam convallis erat vitae justo fringilla dignissim id ac odio. Nulla facilisi. Etiam mauris diam, molestie ac tincidunt quis, volutpat id augue. Sed dui elit, aliquet placerat tristique eu, dictum eget urna. Ut ullamcorper ligula eget lacus euismod vitae elementum mi semper. Praesent cursus, diam sit amet consectetur hendrerit, libero ante iaculis est, nec commodo eros velit ut orci. Mauris accumsan, est sit amet gravida porttitor, enim urna tempor elit, eu tincidunt ante urna a odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </div>
            
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Gathering Your Thoughts</h5>
              <div class="info">
                <b>Info about gathering your thoughts. Should only appear once user clicks the edit button.</b> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
            </div>
            
            <div class="comments">
              <span class="title">Comments</span><a class="secondary_button" href="">Add New</a>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
            </div>
              
          </div>

        </div>
        
        <div class="activity_box">
          <div class="activity_num">
            <span>2</span>
          </div>
          <div class="activity_info">
            <h2>Completed Activity with New Comments</h2>
            <div class="activity_dates">
              <div class="activity_started">
                <span>Started on: </span><span>09.01.10</span>
              </div>
              <div class="activity_complete">
              <span>Completed on: </span><span>09.02.10</span>
              </div>
            </div>
            <div class="activity_comments new">
              <div><span>2</span> Comments<span>, 2 New</span></div>
            </div>
          </div>
          <div class="activity_result">
            
            <div class="activity">
                        
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Activity Result</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis metus dui. Nulla facilisi. Etiam luctus, tortor at molestie dignissim, dui eros euismod diam, quis elementum urna magna et enim. Fusce tincidunt feugiat mauris quis gravida. Maecenas varius molestie urna, ut condimentum nisi tristique eget. Etiam convallis erat vitae justo fringilla dignissim id ac odio. Nulla facilisi. Etiam mauris diam, molestie ac tincidunt quis, volutpat id augue. Sed dui elit, aliquet placerat tristique eu, dictum eget urna. Ut ullamcorper ligula eget lacus euismod vitae elementum mi semper. Praesent cursus, diam sit amet consectetur hendrerit, libero ante iaculis est, nec commodo eros velit ut orci. Mauris accumsan, est sit amet gravida porttitor, enim urna tempor elit, eu tincidunt ante urna a odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </div>
            
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Gathering Your Thoughts</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
            </div>
            
            <div class="comments">
              <span class="title">Comments</span><a class="secondary_button" href="">Add New</a>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
            </div>
              
          </div>
        </div>
        
        <div class="activity_box">
          <div class="activity_num">
            <span>3</span>
          </div>
          <div class="activity_info">
            <h2>Started Activity with No New Comments</h2>
            <div class="activity_dates">
              <div class="activity_started">
                <span>Started on: </span><span>09.03.10</span>
              </div>
            </div>
            <div class="activity_comments">
              <div><span>12</span> Comments<span></span></div>
            </div>
          </div>
          <div class="activity_result">
            <div class="activity">
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Activity Result</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis metus dui. Nulla facilisi. Etiam luctus, tortor at molestie dignissim, dui eros euismod diam, quis elementum urna magna et enim. Fusce tincidunt feugiat mauris quis gravida. Maecenas varius molestie urna, ut condimentum nisi tristique eget. Etiam convallis erat vitae justo fringilla dignissim id ac odio. Nulla facilisi. Etiam mauris diam, molestie ac tincidunt quis, volutpat id augue. Sed dui elit, aliquet placerat tristique eu, dictum eget urna. Ut ullamcorper ligula eget lacus euismod vitae elementum mi semper. Praesent cursus, diam sit amet consectetur hendrerit, libero ante iaculis est, nec commodo eros velit ut orci. Mauris accumsan, est sit amet gravida porttitor, enim urna tempor elit, eu tincidunt ante urna a odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </div>
            
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Gathering Your Thoughts</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
            </div>
            
            <div class="comments">
              <span class="title">Comments</span><a class="secondary_button" href="">Add New</a>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
              <div class="single">
                <div class="who">
                  <img class="avatar" src="" alt="" />
                  <span class="name">Mentee</span>
                  <span class="date">09.01.10</span>
                </div>
                <div class="comment">
                  Comment comment, comment comment comment comment.
                </div>
              </div>
            </div>
              
          </div>
        </div>
        
        <div class="activity_box not_started">
          <div class="activity_num">
            <span>4</span>
          </div>
          <div class="activity_info">
            <h2>Not Started Activity with No Comments</h2>
            <div class="activity_comments">
              <div><span>0</span> Comments<span></span></div>
            </div>
          </div>
          <div class="activity_start">
            <span><a href="./activity_template.html">Begin Activity</a></span>
          </div>
        </div>
        
      </div>
      <!-- end inner content -->
      
      <!-- begin footer -->
      <div id="footer">
        <div class="wrap">
          <div id="sponsors">
            <h5><span>View Our Corporate Sponsors</span></h5>
            <div class="wrap">
              <div class="single">
                <img src="./style/images/highmark.jpg">
                <h5>Highmark Healthy High 5</h5>
                <a class="text_link" href="">About</a>
              </div>
              <div class="single">
                <img src="./style/images/bnymellon.jpg">
                <h5>BNY Mellon</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at BNYM</a>
                <a class="text_link" href="">Corporate Social Responsibility</a>
              </div>
              <div class="single">
                <img src="./style/images/duquesnelight.jpg">
                <h5>Duquesne Light</h5>
                <a class="text_link" href="">Community Relations</a>
                <a class="text_link" href="">Careers at Duquesne Light</a>
              </div>
              <div class="single">
                <img src="./style/images/upmc.jpg">
                <h5>UPMC</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at UPMC</a>
                <a class="text_link" href="">Dignity and Respect Campaign</a>
              </div>
              <div class="single">
                <img src="./style/images/americaneagle.jpg">
                <h5>American Eagle Outfitters</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at AE</a>
                <a class="text_link" href="">AE Foundation</a>
              </div>
            </div>
          </div>
          <div id="copyright">
            Copyright 2010 Keys2Work, LLC.<br/> 
            Rights in Pennsylvania reserved by Smart Futures | Privacy Policy
          </div>
        </div>
      </div>
      <!-- end footer -->
       
    </div>
    <!-- end content -->

  </div>
  
</body>

</html>