<!DOCTYPE html>
<html>
<head>
<title>PA e-Mentors</title>
<link rel="stylesheet" type="text/css" href="./style/style.css" />
<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/jquery.qtip.js" type="text/javascript"></script>
<script src="../js/waypoints.js" type="text/javascript"></script>
<script src="../js/application.js" type="text/javascript"></script>
</head>
	
<body>
  
  <div id="page" class="wrap">
    
    <!-- begin left hand navigation -->
    <div id="nav" class="wrap">
      <div class="inner">
      
        <div id="logo">
        </div>
      
        <h2 class="user"><a class="../profile.html" href=""><img src="" alt=""/>Mentor Smith</a></h2>
        
        <div id="sticky_navigation">
        
          <!-- begin nav list -->
          <ul id="main_navigation">
            <li class=""><a href="../index.html"><span>Home</span><span class="notifier">2</span></a></li>
            <li class="active"><a href="../mentees.html"><span>Mentees</span></a></li>
            <li class=""><a href="../activities.html"><span>Activities</span><span class="notifier">4</span></a></li>
            <li class=""><a href="../profile.html"><span>Profile</span></a></li>
            <li class=""><a href="../resources.html"><span>Resources</span></a></li>
          </ul>
          <!-- end nav list -->
      
          <!-- begin people -->
          <div id="people">
            <h4>Live Mentees</h4>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <div class="clear"></div>
            <a class="text_link" href=""><span>10</span> Virtual Mentees</a><br/>
            <a class="text_link" href="">View All Mentees</a>
          </div>
          <!-- end people -->
      
          <!-- begin stats -->
          <div id="stats">
            <h4>Your Stats</h4>
            <p>Last sign in: <span class="signin-date">6.07.11</span></p>
            <p><span class="active_state">Inactive</span> in the pool</p>
          </div>
          <!-- end stats -->
          
        </div>
        
      </div>
    </div>
    <!-- end left hand navigation -->
    
    <!-- begin content -->
    <div id="content" class="wrap">
    
      <div id="head">
        
        <span class="main_breadcrumb"><a href="../mentees.html">Mentee</a> | </span><h1 class="title">Messages</h1>
        
        <!-- class name fix -->
        <div class="head_links">
          <a class="button" href="">Logout</a>
          <a class="help button" href="">Help</a>
        </div>
      
      </div>
      
      <div class="inner">
        
        <div class="mentee_group">
          <div class="mentee">
            <div class="mentee_box">
              <div class="profile">
                <div class="mentee_pic">
                  <img src="" alt="">
                </div>
                <div class="mentee_name">
                  <span class="">Mentee L.</span>
                </div>
              </div>
              <div class="activities">
                <h4>Activities</h4>
                <ul>
                  <li class="complete"><a href="">1</a></li>
                  <li class="complete"><a href="">2</a></li>
                  <li class="complete"><a href="">3</a></li>
                  <li class="complete"><a href="">4</a></li>
                  <li class="complete"><a href="">5</a></li>
                  <li class="complete"><a href="">6</a></li>
                  <li class="current"><a href="">7</a></li>
                  <li class=""><a href="">8</a></li>
                  <li class=""><a href="">9</a></li>
                  <li class=""><a href="">10</a></li>
                </ul>
              </div>
              <div class="messages">
                <a href="">
                  <span class="total_messages"><span>20</span> Messages</span>
                  <span class="unread_messages true"><span>2</span> Unread</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="wrap">
          <h4 class="activity_message_head">Activity X: Something</h4>
          <div class="thread">
          <div class="post">
            <div class="who">
              <img class="avatar" src="" alt="" />
              <span class="name">Mentee's thoughts</span>
              <span class="date">09.01.10</span>
            </div>
            <div class="message">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum suscipit sapien, a sollicitudin justo egestas et. Cras lectus nulla, fermentum nec auctor vel, vehicula ut urna. Fusce auctor dictum dui, sit amet mattis lectus consectetur id. Praesent eleifend ornare elit, gravida pulvinar est porttitor ac. Aliquam pretium ornare fringilla. Cras facilisis tellus scelerisque massa scelerisque euismod. Phasellus neque ipsum, gravida vel ornare eu, pretium quis augue. 
            </div>
            <div class="message_links">
              <a href="">reply</a>
            </div>
          </div>
          <div class="child">
            <div class="post">
              <div class="who">
                <img class="avatar" src="" alt="" />
                <span class="name">Mentor</span>
                <span class="date">09.01.10</span>
              </div>
              <div class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum suscipit sapien, a sollicitudin justo egestas et. Cras lectus nulla, fermentum nec auctor vel, vehicula ut urna. Fusce auctor dictum dui, sit amet mattis lectus consectetur id. Praesent eleifend ornare elit, gravida pulvinar est porttitor ac. Aliquam pretium ornare fringilla. Cras facilisis tellus scelerisque massa scelerisque euismod. Phasellus neque ipsum, gravida vel ornare eu, pretium quis augue. 
              </div>
              <div class="message_links">
                <a href="">delete</a>
                <a href="">reply</a>
              </div>
            </div>
          </div>
          <div class="child">
            <div class="post">
              <div class="who">
                <img class="avatar" src="" alt="" />
                <span class="name">Mentee</span>
                <span class="date">09.01.10</span>
              </div>
              <div class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum suscipit sapien, a sollicitudin justo egestas et. Cras lectus nulla, fermentum nec auctor vel, vehicula ut urna. Fusce auctor dictum dui, sit amet mattis lectus consectetur id. Praesent eleifend ornare elit, gravida pulvinar est porttitor ac. Aliquam pretium ornare fringilla. Cras facilisis tellus scelerisque massa scelerisque euismod. Phasellus neque ipsum, gravida vel ornare eu, pretium quis augue.
              </div>                
              <div class="message_links">
                <a href="">flag as inappropriate</a>
                <a href="">reply</a>
              </div>
            </div>              
          </div>
          <div class="child">
            <div class="post flagged">
              <div class="who">
                <img class="avatar" src="" alt="" />
                <span class="name">Mentor</span>
                <span class="date">09.01.10</span>
              </div>
              <div class="message">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum suscipit sapien, a sollicitudin justo egestas et. Cras lectus nulla, fermentum nec auctor vel, vehicula ut urna. Fusce auctor dictum dui, sit amet mattis lectus consectetur id. Praesent eleifend ornare elit, gravida pulvinar est porttitor ac. Aliquam pretium ornare fringilla. Cras facilisis tellus scelerisque massa scelerisque euismod. Phasellus neque ipsum, gravida vel ornare eu, pretium quis augue.
              </div>
              <div class="flag_info">
                <span>Your message has been flagged until it can be approved.</span>
              </div>
              <div class="message_links">
                <a href="">delete</a>
                <a href="">reply</a>
              </div>
            </div>
          </div>
        </div>
        </div>
      
      </div>
      
      <!-- begin footer -->
      <div id="footer">
        <div class="wrap">
          <div id="sponsors">
            <h5>View Our Corporate Sponsors</h5>
            <div class="wrap">
              <div class="single">
                <img src="./style/images/highmark.jpg">
                <h5>Highmark Healthy High 5</h5>
                <a class="text_link" href="">About</a>
              </div>
              <div class="single">
                <img src="./style/images/bnymellon.jpg">
                <h5>BNY Mellon</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at BNYM</a>
                <a class="text_link" href="">Corporate Social Responsibility</a>
              </div>
              <div class="single">
                <img src="./style/images/duquesnelight.jpg">
                <h5>Duquesne Light</h5>
                <a class="text_link" href="">Community Relations</a>
                <a class="text_link" href="">Careers at Duquesne Light</a>
              </div>
              <div class="single">
                <img src="./style/images/upmc.jpg">
                <h5>UPMC</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at UPMC</a>
                <a class="text_link" href="">Dignity and Respect Campaign</a>
              </div>
              <div class="single">
                <img src="./style/images/americaneagle.jpg">
                <h5>American Eagle Outfitters</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at AE</a>
                <a class="text_link" href="">AE Foundation</a>
              </div>
            </div>
          </div>
          <div id="copyright">
            Copyright 2010 Keys2Work, LLC.<br/> 
            Rights in Pennsylvania reserved by Smart Futures | Privacy Policy
          </div>
        </div>
      </div>
      <!-- end footer -->
      
      
    </div>
    <!-- end content -->
    
  </div>
  

</body>

</html>