<!DOCTYPE html>
<html>
<head>

<title>PA e-Mentors</title>
<link rel="stylesheet" type="text/css" href="./style/style.css" />
<script src="./js/jquery.js" type="text/javascript"></script>
<script src="./js/jquery.qtip.js" type="text/javascript"></script>
<script src="./js/waypoints.js" type="text/javascript"></script>
<script src="./js/application.js" type="text/javascript"></script>
</head>

<body>
	
  <div id="page" class="wrap">
    
    <!-- begin left hand navigation -->
    <div id="nav" class="wrap">
      <div class="inner">
      
        <div id="logo">
        </div>
      
        <h2 class="user"><a class="" href="./profile.html"><img src="" alt=""/>Mentor Smith</a></h2>
        
        <div id="sticky_navigation">
        
          <!-- begin nav list -->
          <ul id="main_navigation">
            <li class=""><a href="./index.html"><span>Home</span><span class="notifier">2</span></a></li>
            <li class=""><a href="./mentees.html"><span>Mentees</span></a></li>
            <li class=""><a href="./activities.html"><span>Activities</span><span class="notifier">4</span></a></li>
            <li class=""><a href="./profile.html"><span>Profile</span></a></li>
            <li class="active"><a href="./resources.html"><span>Resources</span></a></li>
          </ul>
          <!-- end nav list -->
      
          <!-- begin people -->
          <div id="people">
            <h4>Live Mentees</h4>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <div class="clear"></div>
            <a class="text_link" href=""><span>10</span> Virtual Mentees</a><br/>
            <a class="text_link" href="">View All Mentees</a>
          </div>
          <!-- end people -->
      
          <!-- begin stats -->
          <div id="stats">
            <h4>Your Stats</h4>
            <p>Last sign in: <span class="signin-date">6.07.11</span></p>
            <p><span class="active_state">Inactive</span> in the pool</p>
          </div>
          <!-- end stats -->
          
        </div>
        
      </div>
    </div>
    <!-- end left hand navigation -->
    
    <!-- begin content -->
    <div id="content" class="wrap">
    
      <!-- begin head -->
      <div id="head">
        
        <h1 class="title">Resources</h1>
        
        <!-- class name fix -->
        <div class="head_links">
          <a class="button" href="">Logout</a>
          <a class="help button" href="">Help</a>
        </div>
      
      </div>
      <!-- end head -->
      
      <!-- begin inner content -->
      <div class="inner">
        
        <h4>Statistics</h4>
        <div class="wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </div>

        <h4>Training</h4>
        <div class="wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        </div>

        <h4>Career Explorations</h4>
        <div class="wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>

        <h4>Frequently Asked Questions</h4>
        <div class="wrap">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.           
        </div>
        
      </div>
      <!-- end inner content -->
      
      <!-- begin footer -->
      <div id="footer">
        <div class="wrap">
          <div id="sponsors">
            <h5><span>View Our Corporate Sponsors</span></h5>
            <div class="wrap">
              <div class="single">
                <img src="./style/images/highmark.jpg">
                <h5>Highmark Healthy High 5</h5>
                <a class="text_link" href="">About</a>
              </div>
              <div class="single">
                <img src="./style/images/bnymellon.jpg">
                <h5>BNY Mellon</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at BNYM</a>
                <a class="text_link" href="">Corporate Social Responsibility</a>
              </div>
              <div class="single">
                <img src="./style/images/duquesnelight.jpg">
                <h5>Duquesne Light</h5>
                <a class="text_link" href="">Community Relations</a>
                <a class="text_link" href="">Careers at Duquesne Light</a>
              </div>
              <div class="single">
                <img src="./style/images/upmc.jpg">
                <h5>UPMC</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at UPMC</a>
                <a class="text_link" href="">Dignity and Respect Campaign</a>
              </div>
              <div class="single">
                <img src="./style/images/americaneagle.jpg">
                <h5>American Eagle Outfitters</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at AE</a>
                <a class="text_link" href="">AE Foundation</a>
              </div>
            </div>
          </div>
          <div id="copyright">
            Copyright 2010 Keys2Work, LLC.<br/> 
            Rights in Pennsylvania reserved by Smart Futures | Privacy Policy
          </div>
        </div>
      </div>
      <!-- end footer -->
            
    </div>
    <!-- end content -->
    
  </div>
  
</body>

</html>