<a class="button secondary_button" style="float:right" href="./career-plan/">View Career Profile</a>
<h4>Mentee L's Profile</h4>

  <div id="personal_profile" class="profile_section clear">
    <div class="profile_section">
      <div class="profile_item">
        <h6>First Name</h6>
        <div class="">
          Mentee
        </div>
      </div>
      <div class="profile_item">
        <h6>Last Name</h6>
        <div class="">
          L
        </div>
      </div>
    </div>
    <div class="profile_section">
      <div class="profile_item">
        <h6>Email/Log In ID</h6>
        <div class="">
          email@site.com
        </div>
      </div>
    </div>
    <div class="profile_section">
      <div class="profile_item">
        <h6>Gender</h6>
        <div class="">
          Female
        </div>
      </div>
    </div>
    <div class="profile_section">
      <div class="profile_item">
        <h6>Phone Number</h6>
        <div class="">
          555-555-5555
        </div>
      </div>
      <div class="profile_item">
        <h6>Address Line 1</h6>
        <div class="">
          555 Road St
        </div>
      </div>
      <div class="profile_item">
        <h6>Address Line 2</h6>
        <div class="">
      
        </div>
      </div>
      <div class="profile_item">
        <h6>City / State / Zip</h6>
        <div class="">
          Pittsburgh / PA / 15235
        </div>
      </div>
    </div>
  </div>
