<!DOCTYPE html>
<html>
<head>
<title>PA e-Mentors</title>
<link rel="stylesheet" type="text/css" href="./style/style.css" />
<script src="../js/jquery.js" type="text/javascript"></script>
<script src="../js/jquery.qtip.js" type="text/javascript"></script>
<script src="../js/waypoints.js" type="text/javascript"></script>
<script src="../js/application.js" type="text/javascript"></script>
</head>
	
<body>
  
  <div id="page" class="wrap">
    
    <!-- begin left hand navigation -->
    <div id="nav" class="wrap">
      <div class="inner">
      
        <div id="logo">
        </div>
      
        <h2 class="user"><a class="../profile.html" href=""><img src="" alt=""/>Mentor Smith</a></h2>
        
        <div id="sticky_navigation">
        
          <!-- begin nav list -->
          <ul id="main_navigation">
            <li class=""><a href="../index.html"><span>Home</span><span class="notifier">2</span></a></li>
            <li class="active"><a href="../mentees.html"><span>Mentees</span></a></li>
            <li class=""><a href="../activities.html"><span>Activities</span><span class="notifier">4</span></a></li>
            <li class=""><a href="../profile.html"><span>Profile</span></a></li>
            <li class=""><a href="../resources.html"><span>Resources</span></a></li>
          </ul>
          <!-- end nav list -->
      
          <!-- begin people -->
          <div id="people">
            <h4>Live Mentees</h4>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <a class="person" href=""><img class="avatar" src="" alt=""/></a>
            <div class="clear"></div>
            <a class="text_link" href=""><span>10</span> Virtual Mentees</a><br/>
            <a class="text_link" href="">View All Mentees</a>
          </div>
          <!-- end people -->
      
          <!-- begin stats -->
          <div id="stats">
            <h4>Your Stats</h4>
            <p>Last sign in: <span class="signin-date">6.07.11</span></p>
            <p><span class="active_state">Inactive</span> in the pool</p>
          </div>
          <!-- end stats -->
          
        </div>
        
      </div>
    </div>
    <!-- end left hand navigation -->
    
    <!-- begin content -->
    <div id="content" class="wrap">
    
      <div id="head">
        
        <span class="main_breadcrumb"><a href="../mentees.html">Mentee</a> | </span><h1 class="title">Activities</h1>
        
        <!-- class name fix -->
        <div class="head_links">
          <a class="button" href="">Logout</a>
          <a class="help button" href="">Help</a>
        </div>
      
      </div>
      
      <div class="inner">
        
        <div class="mentee_group">
          <div class="mentee">
            <div class="mentee_box">
              <div class="profile">
                <div class="mentee_pic">
                  <img src="" alt="">
                </div>
                <div class="mentee_name">
                  <span class="">Mentee L.</span>
                </div>
              </div>
              <div class="activities">
                <h4>Activities</h4>
                <ul>
                  <li class="complete"><a href="">1</a></li>
                  <li class="complete"><a href="">2</a></li>
                  <li class="complete"><a href="">3</a></li>
                  <li class="complete"><a href="">4</a></li>
                  <li class="complete"><a href="">5</a></li>
                  <li class="complete"><a href="">6</a></li>
                  <li class="current"><a href="">7</a></li>
                  <li class=""><a href="">8</a></li>
                  <li class=""><a href="">9</a></li>
                  <li class=""><a href="">10</a></li>
                </ul>
              </div>
              <div class="messages">
                <a href="">
                  <span class="total_messages"><span>20</span> Messages</span>
                  <span class="unread_messages true"><span>2</span> Unread</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="activity_box">
          
          <div class="activity_num">
            <span>1</span>
          </div>
          <div class="activity_info">
            <h2>Mentee's Activity with Reflections</h2>
            <div class="activity_dates">
              <div class="activity_started">
                <span>Started on: </span><span>09.01.10</span>
              </div>
              <div class="activity_complete">
              <span>Completed on: </span><span>09.01.10</span>
              </div>
            </div>
          </div>
          <div class="activity_result">
            
            <div class="activity">
                        
              <h5>Activity Result</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis metus dui. Nulla facilisi. Etiam luctus, tortor at molestie dignissim, dui eros euismod diam, quis elementum urna magna et enim. Fusce tincidunt feugiat mauris quis gravida. Maecenas varius molestie urna, ut condimentum nisi tristique eget. Etiam convallis erat vitae justo fringilla dignissim id ac odio. Nulla facilisi. Etiam mauris diam, molestie ac tincidunt quis, volutpat id augue. Sed dui elit, aliquet placerat tristique eu, dictum eget urna. Ut ullamcorper ligula eget lacus euismod vitae elementum mi semper. Praesent cursus, diam sit amet consectetur hendrerit, libero ante iaculis est, nec commodo eros velit ut orci. Mauris accumsan, est sit amet gravida porttitor, enim urna tempor elit, eu tincidunt ante urna a odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </div>
            
              <h5>Mentee's Thoughts</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
              
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Your Reflection</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
              
              <div class="edit">
                <a class="secondary_button" href="">Edit</a>
              </div>
              <h5>Your Feedback</h5>
              <div class="wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras posuere lobortis nisi, quis iaculis nisl vulputate non. Proin nisl mauris, mattis sit amet interdum nec, pellentesque vel mi. Etiam libero dolor, malesuada nec placerat ut, sodales sit amet purus. Pellentesque sit amet orci massa. 
              </div>
            </div>
            
          </div>

        </div>
        
        
      </div>
      
      <!-- begin footer -->
      <div id="footer">
        <div class="wrap">
          <div id="sponsors">
            <h5>View Our Corporate Sponsors</h5>
            <div class="wrap">
              <div class="single">
                <img src="./style/images/highmark.jpg">
                <h5>Highmark Healthy High 5</h5>
                <a class="text_link" href="">About</a>
              </div>
              <div class="single">
                <img src="./style/images/bnymellon.jpg">
                <h5>BNY Mellon</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at BNYM</a>
                <a class="text_link" href="">Corporate Social Responsibility</a>
              </div>
              <div class="single">
                <img src="./style/images/duquesnelight.jpg">
                <h5>Duquesne Light</h5>
                <a class="text_link" href="">Community Relations</a>
                <a class="text_link" href="">Careers at Duquesne Light</a>
              </div>
              <div class="single">
                <img src="./style/images/upmc.jpg">
                <h5>UPMC</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at UPMC</a>
                <a class="text_link" href="">Dignity and Respect Campaign</a>
              </div>
              <div class="single">
                <img src="./style/images/americaneagle.jpg">
                <h5>American Eagle Outfitters</h5>
                <a class="text_link" href="">About</a>
                <a class="text_link" href="">Careers at AE</a>
                <a class="text_link" href="">AE Foundation</a>
              </div>
            </div>
          </div>
          <div id="copyright">
            Copyright 2010 Keys2Work, LLC.<br/> 
            Rights in Pennsylvania reserved by Smart Futures | Privacy Policy
          </div>
        </div>
      </div>
      <!-- end footer -->
      
      
    </div>
    <!-- end content -->
    
  </div>
  

</body>

</html>